.main {

    width: 40rem;
    height: 100vh;
    padding: 1rem;

    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.bloque{

    width: 10rem;
    height: 10rem;
    background-color: rgb(110, 238, 88);
    
}

.activar{
    display: none;
}